<script src="https://giscus.app/client.js"
        data-repo="sidhant007/sidhant007.github.io"
        data-repo-id="R_kgDOLknTmg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLknTms4Cmb4V"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

{% if site.comments_enabled %}
  <aside id="comments" class="disqus">
    <div class="container">
      <section class="giscus"></section>
    </div>
  </aside>
{% endif %}
